---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Variables
$sidebar-color: {{ site.sidebar }};

$marbles-color: {{ site.marble }};
$marble-hover-color: {{ site.marbleHover }};


$current-marble-color: {{ site.currentMarble }};
$current-marble-hover-color: {{ site.currentMarbleHover }};


// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax";
@import "screen";