<!DOCTYPE html>
<html>
<!-- Theme by Steven Thuriot - https://github.com/StevenThuriot/Marbles -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {% if page and page.title != "Home" %}
    <title>{{ page.title }} &mdash; {{ site.name }}</title>
    {% else %}
    <title>{{ site.name }} &mdash; {{ site.description }}</title>
    {% endif %}
    <meta name="description" content="{{ site.meta_description }}" />
    <link rel="canonical" href="{{ site.url }}{{ page.url | remove:'index.html' | strip_slash }}">

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if site.sidebar %}
    <meta name="theme-color" content="{{ site.sidebar }}">
    {% endif %}
    {% if site.logo %}
    <link rel="icon" sizes="192x192" href="{{ site.logo }}">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% absolute /assets/css/main.css %}" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"  href="//fonts.googleapis.com/css?family=Lora:400,700,400italic%7CMontserrat:400,700">
</head>
<body class="{% if paginator and paginator.page != 1 %}archive-template{% else %}{% if page.templateType %}{{ page.templateType }}{% else %}home{% endif %}-template{% endif %}">

    {{ content | expand_urls: site.url }}
	
	<footer class="site-footer clearfix{% if page.subCover %} wide{% endif %}">
		<section class="copyright"><a href="{{ site.url }}">{{ site.name }}</a> &copy; {{ site.time | date: '%Y' }}</section>
        <p />
        <section class="poweredby"><a href="https://github.com/StevenThuriot/Marbles" target="_blank">Marbles</a> &mdash; Designed with <i class="fa fa-heart"></i> by <a href="https://github.com/StevenThuriot" target="_blank">Steven Thuriot</a></section>
	</footer>
    
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{% absolute /assets/js/jquery.fitvids.js %}"></script>

	</body>
</html>