---
layout: default
archive: false
templateType: post
subCover: true
---

{% assign language = site.data.language[site.language] %}

{% if page.cover %}
<div class="main-header post-head" style="background-image: url({{ page.cover }})"></div>
{% endif %}

<main class="content" role="main">

    <article class="post">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">                
                <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%d %B %Y" }}</time>               
                {% if page.categories.size > 0 %} {{ language.about }} {% endif %}
                {% assign categories = page.categories | sort %}
                {% for category in categories %}
                <a href="/{{ site.category_dir || 'categories' }}/{{ category | slugify }}/">{% resolve_category {{ category }} %}</a>{% if forloop.last == false %}, {% endif %}
                {% endfor %}
            </section>
        </header>
        
        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
            <h5>Archive</h5>
            <ul>
                {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}    
            </ul>
        </section>
        {% endif %}

        {% if page.author %}
            {% assign authorSlug = page.author %}
        {% elsif site.author %}
            {% assign authorSlug = site.author %}
        {% else %}
            {% assign authorSlug = false %}
        {% endif %}
        
        <footer class="post-footer{% if author and author.cover %} with-cover" style="background-image: url({{ author.cover }}){% endif %}">
        {% if authorSlug %}
            {% assign author = site.data.authors[authorSlug] %}
            {% if author %}
            {% if author.image %}
            <figure class="author-image">
                <a class="img" href="/{{ site.author_dir || 'authors' }}/{{ authorSlug }}" style="background-image: url({{ author.image }})">
                <span class="hidden">{{ author.name }}{{ language.picture }}</span></a>
            </figure>
            {% endif %}
            
            <section class="author">
                <h4><a href="/{{ site.author_dir || 'authors' }}/{{ authorSlug }}">{{ author.name }}</a></h4>
                
                {% if author.bio %}
                    <p>{{ author.bio }}</p>
                {% else %}
                    <p><a href="/{{ site.author_dir || 'authors' }}/{{ authorSlug }}">{{ language.readMoreByThisAuthor }}</a>.</p>
                {% endif %}
                
                <div class="author-meta">
                    {% if author.location %}<span class="author-location icon-location">{{ author.location }}</span>{% endif %}
                    {% if author.website %}<span class="author-link icon-link"><a href="{{ author.website }}">{{ author.website }}</a></span>{% endif %}
                </div>
            </section>
        {% endif %}   
        {% endif %}             
        </footer>

    </article>
            
    {% if site.disqus %}
        {% include disqus.html %}
    {% endif %}
</main>
